rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Allow read/write without expiration date restriction
    match /{document=**} {
      allow read, write: if true;
    }

    // Rules for companies collection & subcollections
    match /companies/{companyId} {
      allow read, write: if true;
      
      match /{document=**} {
        allow read, write: if true;
      }
    }

    // Rules for users collection
    match /users/{userId} {
      allow read, write: if true;
    }

    // Rules for global settings
    match /settings/{document=**} {
      allow read, write: if true;
    }

    // Rules for system notices
    match /system_notices/{document=**} {
      allow read, write: if true;
    }

    // Rules for agency inquiries
    match /agency_inquiries/{document=**} {
      allow read, write: if true;
    }

    // Rules for customer service
    match /cs_history/{document=**} {
      allow read, write: if true;
    }
    match /csConsultations/{document=**} {
      allow read, write: if true;
    }

    // Rules for master schedules and todos
    match /master_schedules/{document=**} {
      allow read, write: if true;
    }
    match /master_schedule_types/{document=**} {
      allow read, write: if true;
    }
    match /master_todos/{document=**} {
      allow read, write: if true;
    }
  }
}
